name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ main ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: registry.digitalocean.com/repo-focus-test
  # github.repository as <account>/<repo>
  IMAGE_NAME: focus-test


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Build Docker image 
      # https://github.com/docker/build-push-action
      - name: Build Docker image
        working-directory: ./application/test-focus/
        run: docker build . --file Dockerfile --tag $IMAGE_NAME
      
     # install the doctl on the runner
      - name: Install doctl                
        uses: digitalocean/action-doctl@v2
        with:
            token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Push image to digitalocean
        run: |
          doctl registry login
          docker tag $IMAGE_NAME ${{ env.REGISTRY }}/$IMAGE_NAME
          docker push ${{ env.REGISTRY }}/$IMAGE_NAME
          
        
          
      - name: 'Deploy'
        uses: 'deliverybot/helm@master'
        with:
          token: '${{ github.token }}'
          chart: './charts/test-focus/'
          secrets: '${{ toJSON(secrets) }}'
          namespace: 'default'
          release: test-focusapp
          track: test-focus
          value-files: './charts/test-focus/values.yaml'

        env:
          KUBECONFIG_FILE: '${{ secrets.KUBECONFIG_FILE }}'

